
/*body {
    font-family: Helvetica;

}

a:link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red ;

    font-weight: bold;
}


.menu {

    border: 1px;
    border-style: dashed;
    height: 50px;
    margin: auto;
    text-align: center;
}


.foot {
    padding: 20px;
    padding-top: 25px;
    font-size: 12px;

    border: 1px;
    border-style: dashed;

    margin: auto;
    text-align: center;

	font-weight: bold;
}


.logodiv {
    width: 448px;
    margin: auto;
    margin-bottom: 30px;
}

.logo {
}

.page {
    margin: 15%;
    margin-top: 60px;
    min-width: 700px;
}


.menelem {
    font-size: 14px;
    display: inline;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    top: 16px;
}


h2 {

}
*/


.resulttitle {
    /*font-weight: bold;*/
    color: #ff0000;
    /*font-size: 20px;*/
}


.axe {
    font-weight: bold;
}

.descr {
    font-style: italic;
}


.quest {
    font-size: 20px;
	/*font-size: 175%;*/

    border: 1px;
    border-style: dashed;
	border-radius: 5px;
	
    padding: 30px;
	line-height: 150%;
    
}

.questtitle {
    font-weight: bold;
    /*margin-left: 50px;*/
	margin-left: 5%;
	margin-bottom: 110px;
	line-height: 150%;
	/*font-size: 40%;*/
	font-size: 26px;
}

header h2 {
	
	line-height: 150%;
}


.rad {
    /*display: block;*/
    margin-left: 18px;
	
}


.radinp {
    /*position: relative;
    top: 17px;*/

}



.sub {
    margin: 0 auto;
    text-align: center;
}


.bsub {
    margin: 0 auto;
    width: 150px;
    height: 60px;
}


.graph {
    font-weight: bolder;
}


.infl {
    color: #ff0000;
}


.imhere {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
	display: inline-block;
	top: 5px;
}


div.fb-like, div.fb-page {
	
	display: inline-block;
	float: right;
	min-width: 300px;
	margin-left: 20px;
	margin-bottom: 50px;
}


