
body {
    font-family: Helvetica;
    /*margin: 15%;*/
}


a:link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red ;
    text-decoration: underline overline ;
    font-weight: bold;
}


.menu {
    background-color: #f7f7f7;
    border: 1px;
    border-style: dashed;
    height: 50px;
    margin: auto;
    text-align: center;
}


.foot {
    padding: 20px;
    padding-top: 25px;
    font-size: 12px;
    background-color: #f7f7f7;
    border: 1px;
    border-style: dashed;
    /*height: 50px;*/
    margin: auto;
    text-align: center;
    font-style: italic;
}


.logodiv {
    width: 448px;
    margin: auto;
    margin-bottom: 30px;
}

.logo {
}

.page {
    margin: 15%;
    margin-top: 60px;
    min-width: 700px;
}


.menelem {
    font-size: 14px;
    display: inline;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    top: 16px;
}


h2 {
    text-align: center;
}


.resulttitle {
    font-weight: bold;
    color: #ff0000;
    font-size: 20px;
}


.axe {
    font-weight: bold;
}

.descr {
    font-style: italic;
}


.quest {
    font-size: 12px;
    background-color: #f7f7f7;
    border: 1px;
    border-style: dashed;
    padding: 30px;
    border-radius: 5px;
}

.questtitle {
    font-weight: bold;
    margin-left: 50px;
}


.rad {
    display: block;
    margin-left: 50px;
}


.radinp {
    position: relative;
    top: 17px;
}



.sub {
    margin: 0 auto;
    text-align: center;
}


.bsub {
    margin: 0 auto;
    width: 150px;
    height: 60px;
}


.graph {
    font-weight: bolder;
}


.infl {
    color: #ff0000;
}


.imhere {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}
